<div class="row dash-row">

  <div class="col-xl-4">
    <stat-component></stat-component>
  </div>

  <div class="col-xl-4">
    <stat-component></stat-component>
  </div>

  <div class="col-xl-4">
    <stat-component></stat-component>
  </div>

  <div class="col-xl-12">
    <card-list-component></card-list-component>
  </div>

  <div class="col-xl-12">
    <head-component title="{{ defaultTitle }}" subtitle="{{ defaultSubtitle }}"></head-component>

    <card-single-component cardTitle="{{ cardTitle }}" action1="{{ action1 }}" action2="{{ action2 }}"
      action3="{{ action3 }}"></card-single-component>

  </div>

</div>
