<div class="card portfolio-card">
    <div class="card-header">
      <div class="portfolio-card-icon">
        <i class="fas fa-bell"></i>
      </div>
    <div class="portfolio-card-title"> Most recient companies </div>
  </div>
  <div class="card-body ">
    <div class="notifications">
      <a href="#!" class="notification">
        <div class="notification-icon">
          <i class="fas fa-inbox"></i>
        </div>
        <div class="notification-text">Mimecast</div>
        <div class="notification-time">Angular, AngularJS, rxjs, @ngrx, typescript, SASS, etc</div>
        <span class="notification-time">2 years, 4 months</span>
      </a>
      <a href="#!" class="notification">
        <div class="notification-icon">
          <i class="fas fa-inbox"></i>
        </div>
        <div class="notification-text">New comment</div>
        <span class="notification-time">21 days ago</span>
      </a>
      <a href="#!" class="notification">
        <div class="notification-icon">
          <i class="fas fa-inbox"></i>
        </div>
        <div class="notification-text">New comment</div>
        <span class="notification-time">21 days ago</span>
      </a>
      <div class="notifications-show-all">
        <a href="#!">Show all</a>
      </div>
    </div>
  </div>
</div>

<h1 class="dash-title">Cards</h1>
<p class="mb-5">Cards are simply Bootstrap cards with some added features for the dashboard environment.</p>

<div class="row">
  <div class="col-lg-6">
    <div class="card portfolio-card">
      <div class="card-header ">
        <div class="portfolio-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="portfolio-card-title"> A card </div>
        <div class="portfolio-card-menu">
          <div class="dropdown show">
            <a class="portfolio-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body "> Just a card that can be used to display some content, graphs, tables, and so on. </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card portfolio-card">
      <div class="card-header bg-primary text-white">
        <div class="portfolio-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="portfolio-card-title"> Primary Header </div>
        <div class="portfolio-card-menu">
          <div class="dropdown show">
            <a class="portfolio-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body "> Just a card that can be used to display some content, graphs, tables, and so on. </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card portfolio-card">
      <div class="card-header bg-success text-white">
        <div class="portfolio-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="portfolio-card-title"> Success </div>
        <div class="portfolio-card-menu">
          <div class="dropdown show">
            <a class="portfolio-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body "> Just a card that can be used to display some content, graphs, tables, and so on. </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card portfolio-card">
      <div class="card-header bg-danger text-white">
        <div class="portfolio-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="portfolio-card-title"> Danger Header </div>
        <div class="portfolio-card-menu">
          <div class="dropdown show">
            <a class="portfolio-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body "> Just a card that can be used to display some content, graphs, tables, and so on. </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-lg-6">
    <div class="card portfolio-card">
      <div class="card-header bg-warning text-dark">
        <div class="portfolio-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="portfolio-card-title"> Warning Card </div>
        <div class="portfolio-card-menu">
          <div class="dropdown show">
            <a class="portfolio-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body bg-warning text-dark"> Just a card that can be used to display some content, graphs, tables,
        and so on. </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card portfolio-card">
      <div class="card-header bg-dark text-white">
        <div class="portfolio-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="portfolio-card-title"> Dark Card </div>
        <div class="portfolio-card-menu">
          <div class="dropdown show">
            <a class="portfolio-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body bg-dark text-white"> Just a card that can be used to display some content, graphs, tables,
        and so on. </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card portfolio-card">
      <div class="card-header bg-secondary text-white">
        <div class="portfolio-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="portfolio-card-title"> Secondary Card </div>
        <div class="portfolio-card-menu">
          <div class="dropdown show">
            <a class="portfolio-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body bg-secondary text-white"> Just a card that can be used to display some content, graphs,
        tables, and so on. </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card portfolio-card">
      <div class="card-header bg-info text-white">
        <div class="portfolio-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="portfolio-card-title"> Info Card </div>
        <div class="portfolio-card-menu">
          <div class="dropdown show">
            <a class="portfolio-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body bg-info text-white"> Just a card that can be used to display some content, graphs, tables,
        and so on. </div>
    </div>
  </div>
</div>
