<h1 class="dash-title">
  Cards
</h1>

<p class="mb-5">
  Cards are simply Bootstrap cards with some added features for the dashboard environment.
</p>

<card-list-component></card-list-component>

<div *ngFor="let jobsCounter of jobsCounters; let n = index;">
  <div *ngFor="let card of cards">

      <card-component
        [cardTitle]="card[0]?.job[n]?.company"
        [cardBody]="card[0]?.job[n]?.description"
        [cardInfo]="card[0]?.job[n]?.info"
      ></card-component>

  </div>
</div>

