<h1 class="dash-title">
  Cards
</h1>

<p class="mb-5">
  Cards are simply Bootstrap cards with some added features for the dashboard environment.
</p>

<!--<card-list-component></card-list-component>-->

<div *ngFor="let card of cards; let i = index;">
<!--  {{ card | json }}-->
<!--  {{card[0].name}}-->

  <div *ngFor="let card of jobsCounter">
    caca
  </div>

  <card-component
    [cardTitle]="card[i].job[i].company"
    [cardBody]="card[i].job[i].description"
  ></card-component>
</div>

