<h1 class="dash-title">
  Portfolio
</h1>

<h2 class="mb-5">
  Key Technologies:
</h2>
<p>{{keyTechnologies}}</p>

<br/>

<div class="card portfolio-card">
  <div class="card-header">
    <div class="portfolio-card-icon">
      <em class="fas fa-bell"></em>
        <span class="portfolio-card-title"> Experience </span>
    </div>
    <div class="portfolio-card-title">{{cardComponentTitle}}</div>
  </div>
  <div class="card-body">
    <div class="notifications">
      <div *ngFor="let jobsCounter of jobsCounters; let n = index;">
        <div *ngFor="let card of cards">
          <card-list-component
            [cardTitle]="card[0]?.job[n]?.company"
            [cardRole]="card[0]?.job[n]?.role"
            [cardDate]="card[0]?.job[n]?.date"
          ></card-list-component>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let jobsCounter of jobsCounters; let n = index;">
  <div *ngFor="let card of cards">
    <card-component
      [cardTitle]="card[0]?.job[n]?.company"
      [cardBody]="card[0]?.job[n]?.description"
      [cardInfo]="card[0]?.job[n]?.info"
    ></card-component>
  </div>
</div>
