<div class="card portfolio-card">
  <div class="card-header">
    <div class="portfolio-card-icon">
      <i class="fas fa-bell"></i>
    </div>
    <div class="portfolio-card-title">Most recient project</div>
  </div>
  <div class="card-body ">
    <div class="notifications">
      <a href="#!" class="notification">
        <div class="notification-icon">
          <i class="fas fa-inbox"></i>
        </div>
        <div class="notification-text">Accuity</div>
        <div class="notification-time">Angular, AngularJS, rxjs, @ngrx, typescript, SASS, etc</div>
        <span class="notification-time">2 years, 4 months</span>
      </a>

      <a href="#!" class="notification">
        <div class="notification-icon">
          <i class="fas fa-inbox"></i>
        </div>
        <div class="notification-text">Mimecast</div>
        <div class="notification-time">Angular, AngularJS, rxjs, @ngrx, typescript, SASS, etc</div>
        <span class="notification-time">2 years, 4 months</span>
      </a>

      <a href="#!" class="notification">
        <div class="notification-icon">
          <i class="fas fa-inbox"></i>
        </div>
        <div class="notification-text">MET</div>
        <div class="notification-time">Angular, AngularJS, rxjs, @ngrx, typescript, SASS, etc</div>
        <span class="notification-time">2 years, 4 months</span>
      </a>

      <div class="notifications-show-all">
        <a href="#content">View all</a>
      </div>
    </div>
  </div>
</div>
