<div (click)="onTriggerCardEvent($event)" (click)="onSendMessage()">
  <div [ngClass]="'stats stats-primary'">
    <h3 class="stats-title"> Sign ups </h3>
    <div class="stats-content">
      <div class="stats-icon">
        <i class="fas fa-user"></i>
      </div>
      <div class="stats-data">
        <div class="stats-number">114</div>
        <div class="stats-change">
          <span class="stats-percentage">+25%</span>
          <span class="stats-timeframe">from last month</span>
        </div>
      </div>
    </div>
  </div>

</div>
