<div class="dash-nav dash-nav-dark">
  <header>
    <span class="menu-toggle">
      <em class="fas fa-bars"></em>
    </span>
    <a [routerLink]="['/dashboard']" class="portfolio-logo"
      ><em class="fas fa-home"></em>
      LL
    </a>
  </header>
  <nav class="dash-nav-list" routerLinkActive="show">
    <a [routerLink]="['/dashboard']" class="dash-nav-item">
      <em class="fas fa-home"></em>
      Dashboard
    </a>

    <a [routerLink]="['/tables']" class="dash-nav-item">
      <em class="fas fas fa-code"></em>
      L1
    </a>

    <a [routerLink]="['/chartjs']" class="dash-nav-item">
      <em class="fas fas fa-code"></em>
      L2
    </a>

    <a [routerLink]="['/cards']" class="dash-nav-item">
      <em class="fas fas fa-code"></em>
      L3
    </a>

    <div class="dash-nav-dropdown" routerLinkActive="show">
      <span class="dash-nav-item dash-nav-dropdown-toggle">
        <em class="fas fa-chart-bar"></em> Charts
      </span>

      <div class="dash-nav-dropdown-menu">
        <a [routerLink]="['chartjs']" class="dash-nav-dropdown-item">Chart.js</a>
      </div>
    </div>

    <div class="dash-nav-dropdown" routerLinkActive="show">
      <span href="#!" chartjs class="dash-nav-item dash-nav-dropdown-toggle">
        <em class="fas fa-cube"></em> Components
      </span>
      <div class="dash-nav-dropdown-menu">
        <a [routerLink]="['cards']" class="dash-nav-dropdown-item">Cards</a>
        <a [routerLink]="['forms']" class="dash-nav-dropdown-item">Forms</a>
        <div class="dash-nav-dropdown" routerLinkActive="show">
          <span href="#!" class="dash-nav-dropdown-item dash-nav-dropdown-toggle">Icons</span>
          <div class="dash-nav-dropdown-menu">
            <span [routerLink]="['icons']" class="dash-nav-dropdown-item">Solid Icons</span>
            <a [routerLink]="['icons']" [fragment]="'regular-icons'" class="dash-nav-dropdown-item"
              >Regular Icons</a
            >
            <a [routerLink]="['icons']" [fragment]="'brand-icons'" class="dash-nav-dropdown-item"
              >Brand Icons</a
            >
          </div>
        </div>
        <a [routerLink]="['stats']" class="dash-nav-dropdown-item">Stats</a>
        <a [routerLink]="['tables']" class="dash-nav-dropdown-item">Tables</a>
        <a [routerLink]="['typography']" class="dash-nav-dropdown-item">Typography</a>
        <a [routerLink]="['userinterface']" class="dash-nav-dropdown-item">User Interface</a>
      </div>
    </div>
    <div class="dash-nav-dropdown" routerLinkActive="show">
      <span href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
        <em class="fas fa-file"></em> Layouts
      </span>
      <div class="dash-nav-dropdown-menu">
        <a [routerLink]="['blank']" class="dash-nav-dropdown-item">Blank</a>
        <a [routerLink]="['content']" class="dash-nav-dropdown-item">Content</a>
        <a routerLink="login" class="dash-nav-dropdown-item">Log in</a>
        <a routerLink="register" class="dash-nav-dropdown-item">Sign up</a>
      </div>
    </div>
    <div class="dash-nav-dropdown" routerLinkActive="show">
      <span href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
        <em class="fas fa-info"></em> About
      </span>
      <div class="dash-nav-dropdown-menu">
        <a href="https://twitter.com/LeoLaneseltd" target="_blank" class="dash-nav-dropdown-item"
          >Twitter</a
        >
        <a href="https://github.com/leolanese" target="_blank" class="dash-nav-dropdown-item"
          >GitHub</a
        >
        <a href="http://www.leolanese.com" target="_blank" class="dash-nav-dropdown-item">WWW</a>
        <a
          href="http://www.leolanese.com/portfolio_old3/root/lab_login.php"
          target="_blank"
          class="dash-nav-dropdown-item"
          >Profile</a
        >
        <a href="http://leolanese.com/blog/" target="_blank" class="dash-nav-dropdown-item">Blog</a>
      </div>
    </div>
  </nav>
</div>
