<div class="dash-nav dash-nav-dark">

  <header>
    <span class="menu-toggle">
      <em class="fas fa-bars"></em>
    </span>
    <a [routerLink]="['/cards']" class="portfolio-logo"
      ><em class="fas fa-home"> HOME </em>
    </a>
  </header>

  <nav class="dash-nav-list" routerLinkActive="show">
    <a [routerLink]="['/cards']" class="dash-nav-item">
      <em class="fas fa-terminal"></em>
      EXP
    </a>

    <a [routerLink]="['/content']" class="dash-nav-item">
      <em class="fas fa-address-card"></em>
      About yo
    </a>

    <div class="dash-nav-dropdown" routerLinkActive="show">
      <span href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
        <em class="fas fa-info"></em> More About me
      </span>
      <div class="dash-nav-dropdown-menu">
        <a href="https://twitter.com/LeoLaneseltd" target="_blank" class="dash-nav-dropdown-item"
          >Twitter</a
        >
        <a href="https://github.com/leolanese" target="_blank" class="dash-nav-dropdown-item"
          >GitHub</a
        >
        <a
          href="http://www.leolanese.com/portfolio_old3/root/lab_login.php"
          target="_blank"
          class="dash-nav-dropdown-item"
          >Lab/Blog</a
        >
        <a href="http://leolanese.com/blog/" target="_blank" class="dash-nav-dropdown-item">Blog</a>
      </div>
    </div>
  </nav>
</div>
