<h1 class="dash-title">A word about me:</h1>
<div class="row">
  <p class="col-xl-10">
    <p>
      I'm a passionately curious contractor Front-end Engineer located in London, UK.
    </p>
    <p>
      I'm contracting in London, these days I'm open to new opportunities.
    </p>
    <p>
      I have 14 successful years of professional experience as an IT Developer working un UK, Spain, Germany and Argentina.
    </p>
    <p>
    For the last six years I have been working with different frameworks and libraries to produce a Mobile Web and Responsive Web solutions,
    using Agile/Scrum communication within the team and also being the bridge between back-end, designers and product owners.
    </p>
    <p>
    I love to share ideas. That's why I give conferences and workshops around the globe.
    I've presented at JS conferences in Argentina, Scotland, Spain and given workshops in the UK.
    </p>
    <p>
    I'm a good team player but I can work independently just as well. I have the experience of working in large and small teams.
    This has given me the experience to understand precisely what the client wants or what they will want,
      and what problems we are going to face in advance.
    </p>
    <p>
      Please, if you have questions drop me an email: <a href="mailto:developer@leolanese.com?Subject=Hello%20Leo Lanese" target="_top">developer@leolanese.com</a>
    </p>
</div>

